div#myCarousel{
	width: 1000px;
	height: 400px;
	margin-left: 150px;
	margin-top: 70px;
	margin-bottom: -50px;
}

#imagenCarrusel{
	width: 1000px;
	height: 400px;
}

#loadingIndicator {
  margin-top: 50px;
  margin-left: 85px;
  margin-bottom: 50px;
}


