.footer-margin-top{
	margin-top: 10px;
}

.hero-unit{
	margin-bottom: 10px;
	margin-top: 70px;
}

.image{
	margin-top: 20px;
	margin-left: 0px;;
	height: 210px;
	width: 310px;
}

.imagelogo{
	height: 40px;
	width: 80px;
}

.paragraph{
	text-align: center;
	color: white;
}

.sticky-footer{
	margin-top: 70px;
}

.hcolor{
	color: #0000CC;
	font-size: 24px;
}

.accordion-inner{
	color: black;
	font-weight: bold;
}

/*
#loadingIndicator {
  margin-top: 50px;
  margin-left: 15px;
  margin-bottom: 50px;
}*/

#header{
	position: fixed;
	margin-right: 0px;
	margin-left: 0px;
}

#footer{
	position: fixed;
	margin-right: 0px;
	margin-left: 0px;
}







